.whole-page{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #333333;
    font-family: Alegreya SC Regular;
}
.content{
    background-color: #333333;
}
.website{
    color: #FEFEE2;
    font-size: 14px;
    margin-bottom: 10px;
}
.oneArticle{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.coinTitle{
    color: #FEFEE2;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.description{
    color: #FEFEE2;
    margin-bottom: 10px;
    margin-top: 10px;
}
.titleLink{
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #7FC37E;
}
.date{
    color:#FEFEE2;
    filter: brightness(50%);
}
a.titleLink:link{
    text-decoration: none;
    color: #7FC37E;
}
a.titleLink:hover{
    background-color: #7FC37E;
    color: #FEFEE2;
}
img{
    margin-left: 10px;
}
.articleSection{
    background-color: #333333;
}
.linkHolder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color:#FEFEE2;
}
.link{
    background-color: #FEFEE2;
    text-decoration: none;
    color: #333333;
    width: 90px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border-radius: 7px;
}
.link:hover{
    color:#FEFEE2;
    background-color:#7FC37E;
}

@media only screen and (max-width: 900px){
    .navbar{
        width: 100vw;
    }
    .oneArticle{
        display: flex;
        flex-direction: column;
    }
    .leftSide{
        order: 1;
    }
    img{
        align-self: center;
        margin: 0;
    }
    .articleSection{
        background-color: #333333;
    }
}