.whole-page{
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #333333;
    font-family: Alegreya SC Regular;
}
.navCon{
    padding-left: 20px;
    padding-right: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 15px;
    position: relative;
    top: 167px;
    margin-top: 20px;
    margin-left: 37px;
    margin-right: 37px;
    background-color: rgb(127, 195, 126, 0.8);
    color: #333333;
}
.topRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid black 2px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 5px;
    padding-bottom: 9px;
    font-weight: bold;
    color: #FEFEE2;
}
.gridContent{
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 13px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    background-color: #FEFEE2;
    border-radius: 0px 0px 15px 15px;
}

.dataValue{
    padding-top: 13px;
    padding-bottom: 13px;
}
.prices{
    display: flex;
    flex-direction: column;
}
.totalBalance{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    color: #333333;
    padding-top: 7px;
    color: #FEFEE2;
}
@media only screen and (max-width: 500px) {
    .volumes{
        display: none;
    }
    #volumeTitle{
        display: none;
    }
    .topRow{
        font-size: 10px;
    }
    .dataValue{
        font-size: 10px;
    }
    .whole-page{
        padding: 0px;
    }
    .content{
        width: 350px;
        height: 377px;
    }
    .contentContainer{
        height: 100%;
        display: flex;
        justify-content: center;
    }
  }
  @media only screen and (min-width: 820px){
    .content{
        width: 857px;
    }
    .contentContainer{
        position: relative;
        display: flex;
        justify-content: center;
    }
}