/* green #7FC37E
/* light #FEFEE2
/* dark #333333 */

.bg-green{
    background-color: #7FC37E;
}
.bg-cream{
    background-color: #FEFEE2;
}
.bg-brown{
    background-color: #333333;
}
.whole-page{
    height: 100vh;
    width: 100vw;
}
.left-nav{
    display: flex; 
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: white;
    border: none;
    color: #333333;
    outline: none;
}
.btn:hover{
    background-color: #7FC37E;
}
.btn:active{
    background-color: #7FC37E;
}
.btn:focus{
    background-color: #7FC37E;
}

.nav-logo{
    height: 100px;
}
.dropdown-item:hover{
    background-color: #7FC37E;
    color: white;
}
.dropdown-menu{
    background-color: #7FC37E;
    color: white;
}
.content{
    position: relative;
    top: 126px;
}
.rightSideNav{
    display: flex;
}
.connectBtn{
    margin-left: 10px;
    border-radius: 25px;
    background-color: white;
}
.connectBtn:hover{
    background-color: #7FC37E;
    color: white;
}
.connectPopUp{
    position: relative;
    z-index: 10;
    background-color: white;
    color: black;
    border: solid black 2px;
    left: 70%;
    height: calc(100% - 126px);
    bottom: 148px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
.loginPopUp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.loginBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 0px;
    padding-top: 30px;
}
.submit{
    width: 70%;
    align-self: center;
}
