.whole-page{
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #333333;
    align-items: center;
}
.navCon{
    padding-left: 20px;
    padding-right: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 15px;
    position: relative;
    top: 167px;
    margin-left: 37px;
    margin-right: 37px;
    background-color: #FEFEE2;
    color: #333333;
}
.tokensTitle{
    display: flex;
    justify-content: center;
    padding-left: 33%;
    padding-right: 33%;
}
.topRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid black 2px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #333333;
    font-weight: bold;
}
.gridContent{
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 13px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    background-color: #FEFEE2;
    color: #333333;
    border-radius: 15px;
}

.dataValue{
    padding-top: 13px;
    padding-bottom: 13px;
}
.coinNames{
    /* position: relative;
    left: 15px; */
}
.prices{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}
@media only screen and (max-width: 500px) {
    .volumes{
        display: none;
    }
    #volumeTitle{
        display: none;
    }
    .topRow{
        font-size: 10px;
    }
    .dataValue{
        font-size: 10px;
    }
    .whole-page{
        padding: 0px;
    }
    .content{
        width: 350px;
        height: 200px;
    }
    .contentContainer{
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;

    }
  }

@media only screen and (min-width: 820px){
    .content{
        width: 857px;
    }
    .contentContainer{
        position: relative;
        display: flex;
        justify-content: center;
    }
}