.whole-page{
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #333333;
    font-family: Alegreya SC Regular;
}
.navCon{
    padding-left: 20px;
    padding-right: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    border-radius: 15px;
    position: relative;
    top: 167px;
    margin-left: 37px;
    margin-right: 37px;
    background-color: rgb(127, 195, 126, 0.8);
    color: #333333;
}
.tokensTitle{
    display: flex;
    justify-content: center;
    padding-left: 33%;
    padding-right: 33%;
    font-weight: bold;
    padding-top: 7px;
    color: #FEFEE2;
}
.topRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid black 2px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 3px;
    padding-bottom: 9px;
    color: #FEFEE2;
    font-weight: bold;
}
.gridContent{
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 13px;
    padding-bottom: 17px;
    display: flex;
    justify-content: space-between;
    background-color: #FEFEE2;
    color: #333333;
    border-radius: 0px 0px 15px 15px;
}

.dataValue{
    padding-top: 13px;
    padding-bottom: 13px;
}
.coinNames{
    /* position: relative;
    left: 15px; */
}
.prices{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}
@media only screen and (max-width: 500px) {
    .volumes{
        display: none;
    }
    #volumeTitle{
        display: none;
    }
    .topRow{
        font-size: 10px;
    }
    .dataValue{
        font-size: 10px;
    }
    .whole-page{
        padding: 0px;
    }
    .content{
        width: 350px;
        height: 200px;
    }
    .contentContainer{
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;

    }
    .tokensTitle{
        font-size: 17px;
    }
  }

@media only screen and (max-width: 370px){
    .tokensTitle{
        font-size: 14px;
    }
}

@media only screen and (max-width: 695px){
    .tokensTitle{
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media only screen and (min-width: 820px){
    .content{
        width: 857px;
    }
    .contentContainer{
        position: relative;
        display: flex;
        justify-content: center;
    }
}

.coinName{
    border-radius: 5px;
}
.coinName:hover{
    cursor: pointer;
    background-color: rgb(127, 195, 126);
    padding-left: 3px;
    font-weight: bold;
}

.graphModal{
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
}

.graphModalContent{
    margin-top: 23px;
    z-index: 100;
    height: 471px;
    width: 857px;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: rgb(127, 195, 126);
    color: #333333;
    padding: 10px;
    border-radius: 15px;
    border: solid black 2px;
}
